cd /mqtt/config
touch password
mosquitto_passwd -b /mqtt/config/password ##awesome_username## ##awesome_password##
cd /mqtt/config/conf.d/
touch authentication.conf
echo "allow_anonymous false" > /mqtt/config/conf.d/authentication.conf
echo "password_file /mqtt/config/password" >> /mqtt/config/conf.d/authentication.conf
